<h1>The thing is: <%= thingVar %></h1>

<% if(thingVar.toLowerCase() === "rusty"){ %>
    <p>Rusty is the best!</p>
<% } else { %>
    <p><%= thingVar %> is the best!</p>
<% } %>

<p>This is the thing.ejs file</p>