<% include partials/header %>

<h1>Landing Page!</h1>

<p>Welcome to YelpCamp</p>

<a href="/campgrounds">View all campgrounds</a>
<a href="/campgrounds/new">Post Camground</a>

<% include partials/footer %>